# Database Configuration

# Database type (e.g., mysql, postgres)
DB_TYPE=<DB_TYPE>

# Database host
DB_HOST=<DB_HOST>

# Database port
DB_PORT=<DB_PORT>

# Database name
DB_NAME=<DB_NAME>

# Database user
DB_USER=<DB_USER>

# Database password
DB_PASS=<DB_PASS>
